$navbar-light-color: var(--secondary-color);
$navbar-light-hover-color: var(--primary-color);
$navbar-light-active-color: var(--primary-color);

$navbar-dark-color : black;
$navbar-dark-hover-color: rgba(0, 0, 0, 0.34);
$navbar-dark-active-color: rgb(182, 173, 127);

nav {
    background-color: rgba(0, 0, 0, .4);

    .nav-link::before .active {
        content: "";
        top: 0;
        left: 0;
        width: 40px;
        height: 3px;
        background-color: black;
    }
}




