@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Poppins/Poppins-SemiBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
        url('../assets/fonts/Poppins/Poppins-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/Poppins/Poppins-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Italic.woff2') format('woff2'),
        url('../assets/fonts/Poppins/Poppins-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Light.woff2') format('woff2'),
        url('../assets/fonts/Poppins/Poppins-Light.woff') format('woff');
}

